/* Comienzo de la aria de reglas para mejor manejo de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    /* Colores de fondo */
    --color-fondo-menu: #2a2a2e;
    /* Fondo del menú */
    --color-fondo-general: #26262b;
    /* Fondo general */

    /* Colores de texto */
    --color-texto-principal: #f0f0f5;
    /* Texto principal (blanco) */
    --color-texto-secundario: #e5e5e6;
    /* Texto secundario (gris claro) */
    --color-texto-destacado: #2e89dd;
    /* Texto destacado (azul brillante) */

    /* Colores de apartado de preguntas frecuentes, cards, modales */
    --color-apartado-frecuente: #f7f7f9;
    /* Color de fondo claro para cards/modales (gris claro) */

    /* Colores de interacción */
    --color-hover-menu: #28a745;
    /* Color al pasar el ratón sobre el menú (verde) */
    --color-boton-menu: #1e9e3e;
    /* Fondo de los botones del menú (verde oscuro) */
}


body {
    background: var(--color-fondo-general);
}


html {
    scroll-behavior: smooth;
}


.no-scroll {
    overflow: hidden;
}

/* ----> Fin de la aria de reglas <---- */

/* ---->  Comienzo al header <---- */

.hd-menu {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease-in-out;
    background-color: #2a2a2e00;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.hd-menu.solid {
    background-color: var(--color-fondo-menu);
}

.lg {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.lg svg {
    width: 50px;
    height: 50px;
}

.lg h2 {
    letter-spacing: 2px;
    font-size: 2em;
    color: var(--color-texto-principal);
    font-family: "Roboto", sans-serif;
}

.nv-ul .ul-li .active a {

    color: var(--color-hover-menu);
}

.nv-ul .ul-li a {
    transition: color 0.3s ease;
}

.ul-li {
    display: flex;
    gap: 18px;
    font-size: 1.5em;
}

.ul-li a {
    padding: 5px;
    letter-spacing: 1.5px;
    color: var(--color-texto-principal);
    font-family: "Roboto", sans-serif;
}

.ul-li a:hover {
    background-color: rgba(91, 97, 99, 0.452);
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
    display: none;
}

@media (max-width: 940px) {

    .hd-menu {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nv-ul {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 70px;
        left: 0px;
        background-color: var(--color-fondo-menu);
        z-index: 1;
    }

    .nv-ul.active {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    .ul-li {
        flex-direction: column;
        font-size: 30px;
        text-align: center;
    }

    .menu-toggle {
        margin: 20px;
        display: block;
        width: 32px;
        height: 32px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 3;
    }

    .menu-toggle .line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--color-apartado-frecuente);
        border-radius: 20px;
        margin: 4px 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-toggle.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .line:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* ---->  Final de header <---- */

/* ----> Inicio de home <---- */

.secti {
    background: linear-gradient(rgba(40, 42, 55, 0.6), rgba(40, 42, 55, 0.6)), url(/fotica.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    max-width: 56%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor h1,
.contenedor h2 {
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6), 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.contenedor h1 {
    color: var(--color-texto-principal);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 700;
}

.contenedor h2 {
    color: var(--color-texto-secundario);
    letter-spacing: 1.5px;
    font-size: 2em;
    font-weight: 600;
}


.btn {
    height: auto;
    padding: 20px;
}

.btn a {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    color: var(--color-texto-secundario);
    font-family: "Comfortaa", sans-serif;
    background-color: var(--color-boton-menu);
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn a:hover {
    background-color: var(--color-hover-menu);
}

@media (max-width: 780px) {

    .secti {
        height: 100vh;
        background-attachment: scroll;

    }

    .contenedor {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
        padding: 0 15px;
        /* Mejor espaciado */
    }

    .contenedor h1 {
        font-size: 2.5em;
    }

    .contenedor h2 {
        font-size: 1.5em;
        margin-bottom: 5px;
        /* Separación de elementos */
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrado de botones */
    }
}

@media (max-height: 540px) {

    .contenedor h1 {
        margin-top: 30px;
    }
}

/* ----> Final del home <---- */

/* ----> Comienzo de Nosotros <---- */

.Sec-nt {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 94.5vh;
    padding: 20px;
}

.cont-nt {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.cont-nt .img-nt {
    flex: 0 0 45%;
    max-width: 45%;
}

.cont-nt .txt-nt {
    flex: 0 0 55%;
    max-width: 55%;
}

.img-nt img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.txt-nt {
    width: 60vh;
    height: 700px;
    padding-left: 20px;
}

.txt-nt h2,
.txt-nt h3,
.txt-nt p {
    color: var(--color-texto-principal);
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 14px;
}

.txt-nt h2 {

    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.txt-nt h3 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
}

.txt-nt span {
    color: var(--color-texto-destacado);
    font-family: "Clicker Script", cursive;
    font-size: 43.5px;
    letter-spacing: 0.1em;
}

.txt-nt p {
    color: var(--color-texto-secundario);
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5em;
}

@media (max-height:700px) {
    .cont-nt {
        padding: 50px 0;
    }
}

@media (max-width: 780px) {

    .cont-nt {
        flex-direction: column;
        gap: 20px;

    }

    .cont-nt .img-nt {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .cont-nt .img-nt img {
        height: 250px;
        border-radius: 8px;
    }

    .cont-nt .txt-nt {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 0;
    }

    .cont-nt .txt-nt p {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 430px) {
    .cont-nt .img-nt img {
        height: 280px;
    }
}

/* ----> Final de Nosotros <---- */

/* ----> Comienzo de propuesta <---- */

.Secti-pro {
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    min-height: 100vh;
    padding: 20px;
}

.txt h1 {
    text-align: center;
    color: var(--color-texto-principal);
    font-family: "Comfortaa", sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    padding: 2em 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.Arti-card {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: var(--color-apartado-frecuente);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;

}

.Arti-card:hover {
    transform: translateY(-5px);
}

.fi-img img {
    object-fit: cover;
    width: 100%;
    height: 15vh;
    display: block;
    background: #1e9e3e;
}

.Conte {
    padding: 15px;
    display: grid;
    grid-template-rows: subgrid;
    grid: 1/3;
}

.Conte h3,
.Conte p {
    font-family: "Comfortaa", sans-serif;
    color: var(--color-fondo-general);
}

.Conte h3 {
    margin: 15px 0 15px 0;
    font-size: 1.8em;
}

.Conte p {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.Conte a {
    font-size: 1.5em;
    font-family: "Comfortaa", sans-serif;
}


.read-more {
    color: var(--color-hover-menu);
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.read-more {
    color: var(--color-hover-menu);
    /* Color inicial del texto */
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.read-more .icon {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateX(-10px);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, fill 0.3s ease-in-out;
}

.read-more:hover {
    color: var(--color-hover-menu);
    /* Color del texto al hacer hover */
}

.read-more:hover .icon {
    opacity: 1;
    transform: translateX(0);
    /* Animación de la flecha */
    fill: var(--color-hover-menu);
    /* Nuevo color de la flecha al hacer hover */
}

@media (max-width:1101px) {
    .Arti-card:nth-child(3) {
        grid-column: 1 / -1;
    }

    .txt h1 {
        padding: 2em 0 1.5em;
    }

}

/* ----> Apartado para el modal<---- */

.modal {
    border: none;
    border-radius: 16px;
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    /* Evita que el modal se haga demasiado pequeño */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 1.5rem;
    /* Reduce el padding en pantallas pequeñas */
    background: var(--color-apartado-frecuente);
}

.modal::backdrop {
    background: linear-gradient(rgba(40, 42, 55, 0.6), rgba(40, 42, 55, 0.6));
}

.modal[open] {
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style {
        scale: 0;
    }
}

.modal {
    transition: scale .3s ease,
        display .3s ease allow-discrete;
    scale: 0;
}

.btn-x {
    width: 100%;
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
}

.btn-x .x {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 16px;
    background-color: var(--color-texto-destacado);
    top: 50%;
    left: 0;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.btn-x .x:first-child {
    transform: rotate(45deg);
}

.btn-x .x:last-child {
    transform: rotate(-45deg);
}


.sub-modal {
    width: 100%;
    height: auto;
}

.sub-modal h2,
.sub-modal h3,
.sub-modal p {
    font-family: "Comfortaa", sans-serif;
    color: var(--color-fondo-general);
    margin: 12px;
}

.sub-modal h2 {
    font-size: 2.5em;

}

.sub-modal h3 {
    font-size: 2em;
}

.sub-modal p {
    font-size: 1.5em;
}

@media (max-width:450px) {
    .txt {
        max-width: 100%;
    }

    .card-container {
        grid-template-columns: 1fr;
    }


    .Secti-pro {
        padding: 20px;
    }

    .modal {
        padding: 1rem;
        width: 90%;
        border: none;
    }

    .txt h1 {
        font-size: 2rem;
        /* Reducción del tamaño de la fuente */
    }
}

/* ----> Fin de propuesta <---- */


/* ----> Comienzo de FAQ <---- */

.secti-FAQ {
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
    min-height: 100vh;
    padding: 20px
}

.secti-FAQ h1 {
    font-family: "Comfortaa", "Arial", sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 3em;
    padding: 2em 0;
    letter-spacing: 2px;
    color: var(--color-texto-principal);
    text-align: center;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.categoria svg {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
}

.categoria {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    background: var(--color-apartado-frecuente);
    border: 2px solid transparent;
    transition: .3s ease all, box-shadow .3s ease;
}

.categoria p {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #434343;
    transition: color .3s ease;
}

.categoria path {
    transition: .3s ease all;
}

.categoria:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    /* Sombra más notable */
    transform: scale(1.05);
}

.categoria:hover p {
    color: var(--color-fondo-general);
}

.categoria.activa {
    border: 2px solid var(--color-hover-menu);
    /* Cambia el borde al activar */

}

.categoria.activa p {
    color: var(--color-fondo-general);
}

.categoria.activa path {
    fill: var(--color-hover-menu);
}

/* ----> Repuesta <---- */

.listado-de-pregunta {
    display: grid;
    gap: 2rem;
    margin-top: 3rem;
}

.FAQ-destails {
    background: var(--color-apartado-frecuente);
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid var(--color-hover-menu);
    border-bottom-width: 4px;
    transition: transform 0.3s ease;
}

.FAQ-destails[open] .FAQ-sumary svg {
    transform: rotate(45deg);
    /* Rota el SVG 45 grados cuando está abierto */
}


.FAQ-destails p {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2em;
    margin-top: 16px;
}

.FAQ-sumary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.FAQ-sumary h2 {
    font-family: "Comfortaa", sans-serif;
}

.FAQ-sumary svg {
    fill: #000000;
    width: 35px;
    height: 35px;
    min-width: 35px;
    /* Evita que se reduzca el tamaño */
    min-height: 35px;
    transition: transform 0.3s ease;
    /* Añade transición para el giro */
}

@media (max-width:790px) {

    .categorias {
        display: flex;
        flex-direction: column;
    }

    .categoria {
        padding: 12px;
        display: flex;
        align-items: center;
    }

    .categoria svg {
        margin-right: 10px;
        width: 50px;
        height: 50px;

        min-width: 50px;
        min-height: 50px;
    }

    .categoria p {
        font-size: 1.5em;
    }
}

/* ----> Fin de FAQ <---- */

/* ----> Comienzo de Contacto <---- */

.secti-conta {
    width: 90%;
    max-width: 1100px;
    min-height: 100vh;
    margin: 40px auto;
}

.secti-conta h1 {
.secti-conta h1 {
    padding: 2em 0;
    text-align: center;
    color: #fff;
    font-family: "Comfortaa", "Arial", sans-serif;
    font-size: 3em;
}

.container-central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1150px;
    width: 90%;  
    margin: 40px auto;
}

.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item-card:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 20px;
}

.item-card {
    background-color: var(--color-apartado-frecuente);
    border-radius: 10px;
    padding: 10px;
}

.item-card h2,
.item-card p {
    display: flex;
    justify-content: center;
    font-family: "Comfortaa", sans-serif;
}

.item-card h2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;   
}

.item-card svg {
    width:  30px ;
    height: 30px ;
    margin-right: 5px;
    fill: var(--color-fondo-general);
}

.izq-maps iframe {
    width: 100%;
    height: 450px;
    border-radius: 14px;
}


.tabla-horarios h2 {
    text-align: center;
    color: var(--color-apartado-frecuente);
    font-family: "Comfortaa", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 60px;
} 

.tabla-horarios table {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.tabla-horarios th ,
.tabla-horarios td {
    padding: 14px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabla-horarios th {
    background-color: var(--color-apartado-frecuente);
    color: var(--color-fondo-general);
    text-transform: uppercase;
}

.tabla-horarios tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}


.tabla-horarios tbody tr:hover {
    background-color: var(--color-apartado-frecuente);
    color: var(--color-blanco);
    cursor: pointer;
}

.tabla-horarios p {
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
    color: var(--color-texto-secundario);
    margin-top: 28px;
}

@media (max-width:1240px) {

    .container-central {
        grid-template-columns: 1fr;
    }

    .container-central .izq-info {
        max-width: 86%;
        margin: 40px auto;
    }
    
}

@media (max-width: 680px) {
    .card-info {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .item-card:nth-child(3) {
        grid-column: span 1; /* Asegura que la tercera tarjeta ocupe una sola columna */
    }

    .item-card h2, .item-card p {
        justify-content: flex-start;
        text-wrap: balance;
    }

    .container-central .izq-info {

        max-width:  90%;
        margin: auto;
    }


    .tabla-horarios,
    .tabla-horarios tbody,
    .tabla-horarios tr,
    .tabla-horarios th,
    .tabla-horarios td {
        display: block;
        width: 100%;
    }

    .tabla-horarios tr {
        margin-bottom: 20px;
        border-bottom: 2px solid #ddd;
    }

    .tabla-horarios td {
        position: relative;
    }

    .tabla-horarios td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
        width: 45%;
    }

    .tabla-horarios h2 {
        margin: 50px;
    }
    
}

/* ----> Fin de Contacto <---- */

/* ----> Comienzo de foother <---- */ 

footer {
    width: 100%;
    min-height: 150px;
}

.info-footer{
    background: var(--color-apartado-frecuente);
    padding: 20px 0; 
} 

.info-foo {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espaciado entre los cards */
}

.mensaje {
    grid-column: 1 / -1;
}

.social {
    display: flex;
    justify-content: center; /* Centra horizontalmente los iconos dentro del card */
    align-items: center;
    gap: 15px; /* Espaciado entre los iconos */
    grid-column: 1 / -1; /* Hace que el card ocupe las 3 columnas del grid */
    margin-top: 20px;
}
/* ----> Comienzo de foother <---- */
