/* Comienzo de la aria de reglas para mejor manejo de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

/* Fin de la aria de reglas */

/* Comienzo al header */

.hd-menu {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(49, 48, 48, 0);
    /* Completamente transparente en home */
    align-items: center;
    position: fixed;
    /* Fijo para que se superponga al contenido del home */
    top: 0;
    transition: background-color 0.3s ease;
    z-index: 2;
}

/* scroll solid */

.hd-menu.solid {
    transition: 3s all;
    background-color: rgba(49, 48, 48, 1);
    /* Sólido al desplazarse */
}

.lg {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.lg img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.lg h3 {
    letter-spacing: 1.5px;
    font-size: 30px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
}


.ul-li {
    display: flex;
    gap: 25px;
    font-size: 24px;
}

.ul-li a {
    letter-spacing: 1.5px;
    color: azure;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.ul-li a:hover {
    color: rgb(182, 173, 230);
}

.menu-toggle {
    display: none;
}

@media (max-width: 860px) {

    .hd-menu {
        justify-content: space-between;
        padding-left: 15px;
    }

    .nv-ul {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 400px;
        top: 69px;
        left: 0px;
        background-color: rgba(49, 48, 48, 1);
        padding: 10px;
        z-index: 1;
    }

    .nv-ul.active {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .ul-li {
        flex-direction: column;
        font-size: 30px;
        text-align: center;
    }

    /* estilo para poder crear icono de aburgesa y X */

    .menu-toggle {
        padding-right: 15px;
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 3;
    }

    .menu-toggle .line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 20px;
        margin: 4px 0;
        transition: all 0.3s ease;
    }

    .menu-toggle.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .line:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

}

/* Final de header */

/* Inicio de home */

.secti {
    background: linear-gradient(rgb(40 42 55 / 44%), rgb(40 42 55 / 42%)), url(/fotica.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    max-width: 56%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor span {
    color: rgb(0, 174, 255);
    font-family: "Clicker Script", cursive;
    letter-spacing: 0.5rem;
    font-optical-sizing: auto;
    font-style: normal;

}

.contenedor h1 {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.contenedor h3 {
    font-family: "Comfortaa", sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.btn {
    height: auto;
    padding: 20px;
}

.btn a {
    padding: 10px 20px;
    font-size: 24px;
    margin: 10px;
    color: #fff;
    font-family: "Comfortaa", sans-serif;
    background-color: #4CAF50;
    border-radius: 20px;
    transition: 1s;
}

.btn a:hover {
    background-color: #35a33a;
}

@media (max-width: 759px) {

    .contenedor {
        max-width: 90%;
    }

    .btn {
        display: flex;
        flex-direction: column;
    }

}


/* Final del home */

/* Comienzo de Nosotros */

.Sec-nt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 94.5vh;
    background: #282a37;
    padding: 20px;
}

.cont-nt {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.cont-nt .img-nt {
    flex: 0 0 45%;
    max-width: 45%;
}

.cont-nt .txt-nt {
    flex: 0 0 55%;
    max-width: 55%;
}

.img-nt img {
    width: 100%;
    height: 700px
    
}

.txt-nt {
    width: 60vh;
    height: 700px;
    padding-left: 20px;
}

.txt-nt h3,
h2 {
    color: aliceblue;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 14px;
}

.txt-nt h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.txt-nt h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;

}

.txt-nt span {
    color: rgb(36, 155, 211);
    font-family: "Clicker Script", cursive;
    font-size: 43.5px;
    letter-spacing: 3px;
}

.txt-nt p {
    color: aliceblue;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    margin-left: 17px;
}

@media (max-width: 780px) {

    .Sec-nt {
        padding: 20px; 
        height: auto;
    }

    .cont-nt {
        flex-direction: column;
        gap: 20px;
    }

    .cont-nt .img-nt {
        flex: 0 0 100%;
        max-width: 100%; 
        margin-bottom: 20px;
    }

    .cont-nt .img-nt img {
        width: 100%;
        height: 250px; 
        object-fit: cover;
        border-radius: 8px; 
    }

    .cont-nt .txt-nt {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .txt-nt {
        padding-left: 0;
    }


    .cont-nt .txt-nt p {
        padding: 0 ; 
        margin: 0;
    }
}

@media (max-width: 430px) {

    .cont-nt .img-nt img {
        height: 280px;
    }

}



/* Final de Nosotros */

/* Comienzo de la propuestas */

.Secti-pro {
    width: 100%;
    min-height: 92.7vh;
    background-color: #282a37;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto;
}

.sub-card {
    background-color: aliceblue;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-card img {
    border-radius: 24px 24px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.sub-card h3 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 25px 0;
}

.sub-card p {
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.sub-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub-card button:hover {
    background-color: #45a049;
}

/* Fin de propuestas */